{# templates/conge/new.html.twig #}

<h1>Demande de congé</h1>

{{ form_start(form) }}
    {{ form_row(form.dateDebut) }}
    {{ form_row(form.dateFin) }}
    {{ form_row(form.type) }}
    <button class="btn">Envoyer la demande</button>
{{ form_end(form) }}
