{% extends 'base.html.twig' %}

{% block title %}Nouvelle demande de congé{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Demande de congé</h1>
        
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.joursDemandes) }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.dateDebut) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.dateFin) }}
                </div>
            </div>
            
            <button class="btn btn-primary">Envoyer la demande</button>
        {{ form_end(form) }}
    </div>
{% endblock %}